.popup__content_img {
    max-height: 80vh;
    max-width: 80vw;
    background-color: #fff;

    margin-top: 78px;
    position: relative;




}

@media screen and (max-width: 540px) {
    .popup__content_img {
        width: calc(100% - 60px);
    }
}